[submodule "module1_DataScienceToolBox/datasciencecoursera"]
	path = module1_DataScienceToolBox/datasciencecoursera
	url = https://github.com/sanghyunbai/datasciencecoursera.git
[submodule "module2_R_Programming/Week3_Programming_Assignment/ProgrammingAssignment2"]
	path = module2_R_Programming/Week3_Programming_Assignment/ProgrammingAssignment2
	url = https://github.com/sanghyunbai/ProgrammingAssignment2.git
[submodule "module3_GettingAndCleaning_Data/Getting-and-Cleaning-Data-Course-Project-Submission"]
	path = module3_GettingAndCleaning_Data/Getting-and-Cleaning-Data-Course-Project-Submission
	url = https://github.com/sanghyunbai/Getting-and-Cleaning-Data-Course-Project-Submission.git
[submodule "module4_Exploratory_Data_Analysis/week1/ExData_Plotting1"]
	path = module4_Exploratory_Data_Analysis/week1/ExData_Plotting1
	url = https://github.com/sanghyunbai/ExData_Plotting1.git
