.Rproj.user
.Rhistory
.RData
.Ruserdata

#Dont track content of these folders
private_Git_Ignore/
module2_R_Programming/Week4_Programming_Assignment/quiz/

#Dont add Packages to git 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
